doctype html
html
	head
		title!= "D3.js Practice"
		link(type='text/css', rel='stylesheet', href='/static/css/lib/github-markdown-css/github-markdown.css')
		link(type='text/css', rel='stylesheet', href='/static/css/base.css')
		script(type='text/javascript', src='/static/js/lib/d3/build/d3.min.js')
		block head
	body
		include ../header
		section#content
			block body
		include ../footer