section#footer
    div.social
        a(href='https://github.com/ssosso', target='_blank')
            img(src='/static/images/icon/github.png').icon.social
            br
            .
                github
    div.social
        a(href='http://ssossohow.tistory.com', target='_blank')
            img(src='/static/images/icon/tistory.png').icon.social
            br
            .
                tistory
    div.copyright.
        ⓒ 2018 @ssossohow.